<div class="container">
  <div class="row">
    <div class="col-12 col-md-8 col-lg-5 mx-auto">
       <div class="card my-5 p-2">
        <div class="card-body text-center">
          <h1 class="card-title text-danger">Sistema de Requisições</h1>

          <form class="col-md-8 mx-auto" [formGroup]="form" (ngSubmit)="login()">

            <div class="form-group mt-5 position-relative">
              <label for="email" class="form-label fs-5 p-2">Email</label>
              <input
              [ngClass]="(email?.touched && email?.invalid) ? 'is-invalid' : ''"
               formControlName="email"
               class="form-control"
               type="email"
               placeholder="Digite seu endereço de email">
               <div class="invalid-tooltip" *ngIf="email?.touched && email?.invalid">
                <span *ngIf="email?.errors?.['required']">O email precisa ser informado.</span>
                <span *ngIf="email?.errors?.['email']">O email precisa ser informado em um formato válido.</span>
               </div>
            </div>

            <div class="form-group my-5 position-relative">
              <label for="senha" class="form-label fs-5 p-2">Senha</label>
              <input
              [ngClass]="(senha?.touched && senha?.invalid) ? 'is-invalid' : ''"
               formControlName="senha"
               class="form-control"
               type="password"
               placeholder="Digite sua senha">
               <div class="invalid-tooltip" *ngIf="senha?.touched && senha?.invalid">
                <span *ngIf="senha?.errors?.['required']">A senha precisa ser informada.</span>
               </div>
            </div>

            <a role="button" class="text-primary text-decoration-none" (click)="abrirModalRecuperacao(content)">Esqueceu sua Senha?</a>

            <div class="d-grid mx-4 gap-2 mt-3">
              <button type="submit" class="btn btn-danger" [disabled]="this.form.invalid">
                <i class="pi pi-sign-in me-1"></i>Login
              </button>
            </div>
          </form>

        </div>
       </div>
    </div>
  </div>
</div>

<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Recuperação de Conta</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('fechar')"></button>
  </div>
  <form [formGroup]="formRecuperacao" (ngSubmit)="modal.close('enviar')">
    <div class="modal-body">
        <div class="alert alert-warning" role="alert">
          Enviaremos um email para o endereço informado com instruções de recuperação.
        </div>
        <div class="form-group mb-3">
          <label for="emailRecuperacao" class="form-label">Endereço de email</label>
          <input formControlName="emailRecuperacao"
          class="form-control"
          type="email"
          placeholder="Digite o endereço de email">
        </div>
    </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-danger col-md-3" (click)="modal.dismiss('fechar')">
          Cancelar</button>
        <button type="submit" class="btn btn-danger col-md-3">Enviar</button>
        </div>
  </form>
</ng-template>
