<div class="container">
  <div class="row">
    <div class="col-12 col-md col col-lg mx-auto my-4">
      <div class="btn-group">
        <button
          routerLink="/requisicoes/funcionario"
          routerLinkActive="active"
          class="btn btn-outline-danger"
          arial-current="page">
          <i class="pi pi-ticket me-1"></i>Minhas Requisições
      </button>
      <button
        routerLink="/requisicoes/departamento"
        routerLinkActive="active"
        class="btn btn-outline-danger">
        <i class="pi pi-inbox me-1"></i>Requisições para meu Departamento
      </button>
      </div>
    </div>
  </div>
</div>

<router-outlet></router-outlet>
