.bg-color {
  background-color: #dbdbdb !important;
}

.bg-light {
  background-color: rgba(207, 207, 207, 0.938) !important;
}

.links{
  font-size: 17px;
}

.nav-link:hover {
  color: #BB2D3B !important
}
